 .page-header li a {
	font-size: 200%;
	color: red;
	padding-left: 50px;
	padding-top: 100px;
}
.page-header img {
	height: 100px;
	width:150px;
}
footer img{
	height: 80px;
	weight:100px;
}
footer li a{
	font-size: 150%;
	color:red;
	padding-left:20px;
}
.content p{
	font-size: 150%;
}
.content img {
	width: 300px;
	height: 200px;
}
.rowbottom{
	margin-bottom: 2em;
}

